<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\QuoteGraphQl\Model\Resolver\RemoveItemFromCart">
        <plugin name="aruraine_add_free_product_BeforeRemoveItemFromCart"
                type="Auraine\AddFreeProduct\Plugin\BeforeRemoveItemFromCart"/>
    </type>

</config>