<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <abandoned_cart_notifications>
            <attributes>
                <cron_schedule>*/120 * * * *</cron_schedule>
            </attributes>
        </abandoned_cart_notifications>
    </default>
</config>