<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>

        <abandoned_cart>
            <reminder_sms>
                <message>Hi {{customer_name}}, Your cart is abandoned please place the order to get it. https://www.glamourbook.com</message>
            </reminder_sms>
        </abandoned_cart>

    </default>
</config>