<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Reminder\Model\Rule">
        <plugin name="checkout_coupon_remove"
                type="Auraine\ExtendedReminder\Plugin\ExtendedRule"/>
    </type>

</config>