<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
	<add id="Auraine_PushNotification::auraine_pushnotification" title="Push Notifications" module="Auraine_PushNotification" sortOrder="10000000" resource="Magento_Backend::content" parent="Auraine::top_level"/>
		<add id="Auraine_PushNotification::auraine_pushnotification_subscriber" title="Subscriber Management" module="Auraine_PushNotification" sortOrder="1" resource="Magento_Backend::content" parent="Auraine_PushNotification::auraine_pushnotification" action="auraine_pushnotification/subscriber/index"/>
		<add id="Auraine_PushNotification::auraine_pushnotification_template" title="Template Management" module="Auraine_PushNotification" sortOrder="2" resource="Magento_Backend::content" parent="Auraine_PushNotification::auraine_pushnotification" action="auraine_pushnotification/template/index"/>
	</menu>
</config>


