<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="push_notification" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Push Notification </label>
            <tab>auraine_system_config</tab>
            <resource>Auraine_PushNotification::module_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>General Settings</label>
                <field id="enable_notification" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="push_notification_setting" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Push Notification Settings</label>
                <depends><field id="transaction_sms_control/transaction_sms/enable_sms">1</field></depends>
                <field id="url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>URL</label>
                </field>
                <field id="pushnotifications_notification_fcm_config" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Add Firebase to Your Web App</label>
                </field>
                <field id="pushnotifications_notification_fcm_server_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Firebase Cloud Message Server Key</label>
                </field>
                <field id="pushnotifications_notification_fcm_messaging_sender_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Your Messaging Sender Id</label>
                </field>                
            </group>

            <group id="prompt_popup" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Prompt Popup</label>
                <depends><field id="transaction_sms_control/transaction_sms/enable_sms">1</field></depends>
                <field id="pushnotifications_prompt_prompt_content" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prompt Content</label>
                </field>
                 <field id="pushnotifications_prompt_prompt_head" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prompt Subject</label>
                </field>
                <field id="pushnotifications_prompt_prompt_accept" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Prompt Accept Text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pushnotifications_prompt_prompt_reject" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Prompt Reject Text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>              
            </group>

            <group id="subscription_prompt" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscription Prompt</label>
                <depends><field id="transaction_sms_control/transaction_sms/enable_sms">1</field></depends>
                <field id="pushnotifications_prompt_prompt_reject" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Pages</label>
                    <source_model>Auraine\PushNotification\Model\Config\Source\CustomDropdownValues</source_model>
                </field>              
            </group>


        </section>
    </system>
</config>