<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Auraine_Schedule::auraine_schedule_schedule" title="Manage Schedule" module="Auraine_Schedule" sortOrder="9999" resource="Magento_Backend::content" parent="Auraine_BannerSlider::banner_slider" action="auraine_schedule/schedule/index"/>
	</menu>
</config>
