<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Auraine\PushNotification\Api\SubscriberRepositoryInterface" type="Auraine\PushNotification\Model\SubscriberRepository"/>
	<preference for="Auraine\PushNotification\Api\Data\SubscriberInterface" type="Auraine\PushNotification\Model\Subscriber"/>
	<preference for="Auraine\PushNotification\Api\Data\SubscriberSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Auraine\PushNotification\Model\ResourceModel\Subscriber\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">auraine_pushnotification_subscriber</argument>
			<argument name="resourceModel" xsi:type="string">Auraine\PushNotification\Model\ResourceModel\Subscriber\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="auraine_pushnotification_subscriber_listing_data_source" xsi:type="string">Auraine\PushNotification\Model\ResourceModel\Subscriber\Grid\Collection</item>
				<item name="auraine_pushnotification_template_listing_data_source" xsi:type="string">Auraine\PushNotification\Model\ResourceModel\Template\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="Auraine\PushNotification\Api\TemplateRepositoryInterface" type="Auraine\PushNotification\Model\TemplateRepository"/>
	<preference for="Auraine\PushNotification\Api\Data\TemplateInterface" type="Auraine\PushNotification\Model\Template"/>
	<preference for="Auraine\PushNotification\Api\Data\TemplateSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Auraine\PushNotification\Model\ResourceModel\Template\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">auraine_pushnotification_template</argument>
			<argument name="resourceModel" xsi:type="string">Auraine\PushNotification\Model\ResourceModel\Template\Collection</argument>
		</arguments>
	</virtualType>
</config>
