<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="status" xsi:type="array">
                    <item name="class" xsi:type="string">Auraine\SellerPanel\Ui\DataProvider\Product\Form\Modifier\Attributes</item>
                    <item name="sortOrder" xsi:type="number">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
  <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
      <plugin name="product-collection-sorting" type="Auraine\SellerPanel\Plugin\ProductDataProvider" sortOrder="999"/>
    </type>-->
</config>
