<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData">
               <item name="coupen_display_text" xsi:type="string">offerlabel_id/general/coupen_display_text</item>
               <item name="free_shipping_subtotal" xsi:type="string">carriers/freeshipping/free_shipping_subtotal</item>
            </argument>
        </arguments>
    </type>
</config>