<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Auraine\ZipCode\Api\PincodeRepositoryInterface" type="Auraine\ZipCode\Model\PincodeRepository"/>
	<preference for="Auraine\ZipCode\Api\Data\PincodeInterface" type="Auraine\ZipCode\Model\Pincode"/>
	<preference for="Auraine\ZipCode\Api\Data\PincodeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Auraine\ZipCode\Model\ResourceModel\Pincode\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">pincode</argument>
			<argument name="resourceModel" xsi:type="string">Auraine\ZipCode\Model\ResourceModel\Pincode\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="auraine_zipcode_pincode_listing_data_source" xsi:type="string">Auraine\ZipCode\Model\ResourceModel\Pincode\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
