.config-nav .my-tab .admin__page-nav-title::before {
    content: '';
      background-image: url(../images/magecomp--extension.webp);
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 60%;
      position: absolute;
      width: 70%;
      top: 11px;
  }
  
  .config-nav .my-tab .admin__page-nav-title strong {
    margin-left: 40px;
  }