<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <section id="mobilelogin">
            <group id="smsgatways">
                <field id="promotion" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promotion</label>
                    <source_model>Alternativetechlab\Textlocal\Model\Config\Promotion</source_model>
                    <depends>
                        <field id="gateway">textlocal</field>
                    </depends>
                </field>
                <field id="textlocalsenderid" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Textlocal Sender ID</label>
                    <depends>
                        <field id="mobilelogin/moduleoption/enable">1</field>
                        <field id="mobilelogin/smsgatways/promotion">0</field>
                        <field id="gateway">textlocal</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment><![CDATA[https://www.textlocal.in/free-developer-sms-api/]]></comment>
                </field>
                <field id="textlocalauthkey" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Textlocal API Key</label>
                    <depends>
                        <field id="mobilelogin/moduleoption/enable">1</field>
                        <field id="mobilelogin/smsgatways/promotion">0</field>
                        <field id="gateway">textlocal</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Where can I find my <a href="https://textlocal.com/support/knowledge-base/find-api-key/" target="__blank">API key</a> ?]]></comment>
                </field>

                <field id="textlocalsenderid2" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Textlocal Promotional Sender ID</label>
                    <depends>
                        <field id="mobilelogin/smsgatways/promotion">1</field>
                        <field id="gateway">textlocal</field>
                    </depends>
                    <comment><![CDATA[https://www.textlocal.in/free-developer-sms-api/]]></comment>
                </field>
                <field id="textlocalauthkey2" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Textlocal Promotional API Key</label>
                    <depends>
                        <field id="mobilelogin/smsgatways/promotion">1</field>
                        <field id="gateway">textlocal</field>
                    </depends>
                    <comment><![CDATA[Where can I find my <a href="https://textlocal.com/support/knowledge-base/find-api-key/" target="__blank">API key</a> ?]]></comment>
                </field>

                <field id="textlocalapiurl" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                    <comment><![CDATA[https://api.textlocal.in/send/]]></comment>
                    <depends>
                        <field id="mobilelogin/moduleoption/enable">1</field>
                        <field id="gateway">textlocal</field>
                    </depends>
                    <validate>required-entry validate-url</validate>
                </field>
            </group>
        </section>
    </system>
</config>
