<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\SalesGraphQl\Model\OrderItem\DataProvider" type="Auraine\Brands\Model\Resolver\OrderItem\DataProvider" />

   <preference for="Auraine\Brands\Api\Data\GridInterface" type="Auraine\Brands\Model\Grid" />

<virtualType name="Auraine\Brands\Model\ResourceModel\Brands\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
<arguments>
            <argument name="mainTable" xsi:type="string">auraine_shopbrand</argument>
            <argument name="resourceModel" xsi:type="string">Auraine\Brands\Model\ResourceModel\Grid</argument>
        </arguments>

</virtualType>  

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brands_record_grid_list_data_source" xsi:type="string">Auraine\Brands\Model\ResourceModel\Brands\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
     <type name="Auraine\Brands\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Auraine\Brands\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Auraine\Brands\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
