<!--@subject Return intiated for the Products successfully Order id: {{trans "%increment_id," increment_id=$order.getIncrementId()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_id": "Order DB Id",
"var order_data.customer_name":"Customer Name"
} @-->


{{template config_path="design/email/header_template"}}
<div  style="background-color:black; height:45px;">
<h3 style="color:white; text-align:center; line-height:40px;"><b> We've Received your return request.</b></h3>
</div>

<table style="background-color:dark-grey;">
    <tr class="email-intro">
        <td>
            <p class="greeting"><strong>{{trans "%customer_name," customer_name=$order_data.customer_name}}</strong></p>
           <p>We are contacting you to confirm that your return request is accepted. We hope you shop again with usand thank you for choosing Glamourbook.</p>
<br>
<br>
<p>To view your order history and personal details, please <a href="{{var this.getUrl($store, customer/account)}}"> <b> Click here .</b></a></p>
                 
            <p align="left">
               The Glamourbook Team
            </p>
        </td>
    </tr>
    </table>
<div>
<div  style="background-color:black;">
<p  style="color:white"> your Return Order details:</p></div>
<h5>Order id: {{trans "%increment_id," increment_id=$order.getIncrementId()}}</h5>
  <h5>Return mode: Online</h5>
<h5>Refund Amount:{{var creditmemo.grand_total}}</h5>
<h5>Expected Pickup Date:</h5>

</div>

<br/>

<div>
<div  style="background-color:black;">
<p  style="color:white;"> your Order details:</p></div>
</div>
<br/>
<div style="background-color:dark-grey;">
{{layout handle="magento_rma_email_rma_items" rma_id=$rma_id}}
</div>
<br/>
<br>

        <div class="address-details" style="background-color:dark-grey;">
            <h5><b>{{trans "Pickup Address"}}:</b></h5>
            <p>{{var formattedShippingAddress|raw}}</p>
        </div>
       
  <br/> 
<br>
<div>
<div  style="background-color:black;margin-top:15px;margin-right:10px;">
<p  style="color:white">Keep Your Product Ready For Pickup</p></div>
<div>

<table border="0" width="100%" >
<tr>
<td style="width:33%; border: 5px solid white;">
<div  style="height:30%;;background-color: #dddddd; float:right;width:100%;padding:10px;">
<div style="background-color:black;width:100%; padding: 5px;">
<center><p  style="color:white;padding-top:10px;">Step 1</p></center>
</div>
<div style="background-color: #dddddd;">
<p><center>Ensure the item is
unused,<br>unwashed and has all
original tags intact,<br> including the MRP tag.</center></p>
</div>
</div>
</td>

<td style="width:33%; border: 5px solid white;">
<div  style="height:30%;  ;background-color: #dddddd;float:right;width:100%;padding:10px;">
<div style="background-color:black;width:100%; padding: 5px;">
<center><p  style="color:white;padding-top:10px;">Step 2</p></center>
</div>
<div style="background-color: #dddddd;">
<p><center>Place item in an unsealed packet.</center></p>
</div>
</div>
</td>

<td style="width:33%; border: 5px solid white;">
<div  style="height:30%;background-color: #dddddd;float:right;width:100%;padding:10px;">
<div style="background-color:black; width:100%; padding: 5px;">
<center><p  style="color:white;padding-top:10px;">Step 3</p></center>
</div>
<div style="background-color: #dddddd;">
<p><center>If the MRP tag was not attached to the item,<br> then you may find itas a sticker <br>on the transparent
polythene cover in which your <br>
item was wrapped.</center</p>
</div>
</div>
</td>

 </tr>    
</table>      
<br>

<center><img src="{{var logo_url}}" width="50%" height="50%"/></center>


<br>


<table style=" font-family: arial, sans-serif;border-collapse: collapse;width:100%;">
  <tr>
    <th style="border: 20px solid white;text-align:center;padding: 5px;color:black;background-color: #dddddd; width:33%; font-weight:bold; font-size:12px;">CONTACT US</th>
    <th style="border: 20px solid white;text-align:center;padding: 5px;color:black;background-color: #dddddd; width:33%;font-weight:bold; font-size:12px;">RETURNS AND REFUNDS</th>
    <th style="border: 20px solid white;text-align:center;padding: 5px;color:black;background-color: #dddddd; width:33%;font-weight:bold; font-size:12px;">TERMS AND CONDITIONS</th>
  </tr>
  
</table>

<br>
<br>
<div align="center" style="text-align:center; font-size:15px;">Glamourbook Private Limited</div>
<div align="center" style="text-align:center; font-size:15px;" >www.glamourbook.com</div>
<br>
<br>
<div>
<p style="font-size:8px;">This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message. To ensure thatyour Glamourbook emails get to your inbox, please add info@Glamourbook.com.in to your address book or Safe List.</p>
</div>


  
{{template config_path="design/email/footer_template"}}

{{template config_path="design/email/header_template"}}
<div  style="background-color:black; height:45px;">
<h3 style="color:white; text-align:center; line-height:40px;"><b> We've Received your return request.</b></h3>
</div>

<table style="background-color:dark-grey;">
    <tr class="email-intro">
        <td>
            <p class="greeting"><strong>{{trans "%customer_name," customer_name=$order_data.customer_name}}</strong></p>
           <p>We are contacting you to confirm that your return request is accepted. We hope you shop again with usand thank you for choosing Glamourbook.</p>
<br>
<br>
<p>To view your order history and personal details, please <a href="{{var this.getUrl($store, customer/account)}}"> <b> Click here .</b></a></p>
                 
            <p align="left">
               The Glamourbook Team
            </p>
        </td>
    </tr>
    </table>
<div>
<div  style="background-color:black;">
<p  style="color:white"> your Return Order details:</p></div>
<h5>Order id: {{trans "%increment_id," increment_id=$order.getIncrementId()}}</h5>
  <h5>Return mode: Online</h5>
<h5>Refund Amount:{{var creditmemo.grand_total}}</h5>
<h5>Expected Pickup Date:</h5>

</div>

<br/>

<div>
<div  style="background-color:black;">
<p  style="color:white;"> your Order details:</p></div>
</div>
<br/>
<div style="background-color:dark-grey;">
{{layout handle="magento_rma_email_rma_items" rma_id=$rma_id}}
</div>
<br/>
<br>

        <div class="address-details" style="background-color:dark-grey;">
            <h5><b>{{trans "Pickup Address"}}:</b></h5>
            <p>{{var formattedShippingAddress|raw}}</p>
        </div>
       
  <br/> 
<br>
<div>
<div  style="background-color:black;margin-top:15px;margin-right:10px;">
<p  style="color:white">Keep Your Product Ready For Pickup</p></div>
<div>

<table border="0" width="100%" >
<tr>
<td style="width:33%; border: 5px solid white;">
<div  style="height:30%;;background-color: #dddddd; float:right;width:100%;padding:10px;">
<div style="background-color:black;width:100%; padding: 5px;">
<center><p  style="color:white;padding-top:10px;">Step 1</p></center>
</div>
<div style="background-color: #dddddd;">
<p><center>Ensure the item is
unused,<br>unwashed and has all
original tags intact,<br> including the MRP tag.</center></p>
</div>
</div>
</td>

<td style="width:33%; border: 5px solid white;">
<div  style="height:30%;  ;background-color: #dddddd;float:right;width:100%;padding:10px;">
<div style="background-color:black;width:100%; padding: 5px;">
<center><p  style="color:white;padding-top:10px;">Step 2</p></center>
</div>
<div style="background-color: #dddddd;">
<p><center>Place item in an unsealed packet.</center></p>
</div>
</div>
</td>

<td style="width:33%; border: 5px solid white;">
<div  style="height:30%;background-color: #dddddd;float:right;width:100%;padding:10px;">
<div style="background-color:black; width:100%; padding: 5px;">
<center><p  style="color:white;padding-top:10px;">Step 3</p></center>
</div>
<div style="background-color: #dddddd;">
<p><center>If the MRP tag was not attached to the item,<br> then you may find itas a sticker <br>on the transparent
polythene cover in which your <br>
item was wrapped.</center</p>
</div>
</div>
</td>

 </tr>    
</table>      
<br>

<center><img src="{{var logo_url}}" width="50%" height="50%"/></center>


<br>


<table style=" font-family: arial, sans-serif;border-collapse: collapse;width:100%;">
  <tr>
    <th style="border: 20px solid white;text-align:center;padding: 5px;color:black;background-color: #dddddd; width:33%; font-weight:bold; font-size:12px;">CONTACT US</th>
    <th style="border: 20px solid white;text-align:center;padding: 5px;color:black;background-color: #dddddd; width:33%;font-weight:bold; font-size:12px;">RETURNS AND REFUNDS</th>
    <th style="border: 20px solid white;text-align:center;padding: 5px;color:black;background-color: #dddddd; width:33%;font-weight:bold; font-size:12px;">TERMS AND CONDITIONS</th>
  </tr>
  
</table>

<br>
<br>
<div align="center" style="text-align:center; font-size:15px;">Glamourbook Private Limited</div>
<div align="center" style="text-align:center; font-size:15px;" >www.glamourbook.com</div>
<br>
<br>
<div>
<p style="font-size:8px;">This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message. To ensure thatyour Glamourbook emails get to your inbox, please add info@Glamourbook.com.in to your address book or Safe List.</p>
</div>


  
{{template config_path="design/email/footer_template"}}

