<!--@subject Return sucessful for the Products successfully Order id: {{trans "%increment_id," increment_id=$order.getIncrementId()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_id": "Order DB Id",
"var order_data.customer_name":"Customer Name"
} @-->


{{template config_path="design/email/header_template"}}
<div style="background-color:black; height:45px;">
    <h3 style="color:white; text-align:center; line-height:40px;">
        <b> We've Collected your Return</b>
    </h3>
</div>
<table style="background-color:dark-grey;">
    <tr class="email-intro">
        <td>
            <p class="greeting">
                <strong>Dear {{trans "%customer_name," customer_name=$order_data.customer_name}}</strong>
            </p>
            <p>We are contacting you to confirm that your order is collected by our team. You will receive an email once your refund has been processed. We hope you shop again with us and thank you for choosing Glamourbook. </p>
            <p align="left"> The Glamourbook Team </p>
        </td>
    </tr>
</table>
<div>
    <div style="background-color:black;">
        <p style="color:white"> your Return Order details:</p>
    </div>
    <h5>Order id: {{trans "%increment_id," increment_id=$order.getIncrementId()}}</h5>
</div>
<br />
<div>
    <div style="background-color:black;">
        <p style="color:white;"> your Order details:</p>
    </div>
</div>
<br />
<div style="background-color:dark-grey;">
    <img src="{{var image }}" style"width:200px;">
    {{layout handle="magento_rma_email_rma_items" rma_id=$rma_id}}
</div>
<br />
<br>
<div class="address-details" style="background-color:dark-grey;">
    <h5>
        <b>{{trans "Pickup Address"}}:</b>
    </h5>
    <p>{{var formattedShippingAddress|raw}}</p>
</div>
<br />
<br>
<div>
    <div style="background-color:black;margin-top:15px;margin-right:10px;">
        <p style="color:white">What Next ?</p>
    </div>
    <div>
        <table border="0" width="100%">
            <tr>
                <td style="width:33%; border: 5px solid white;">
                    <div style="height:30%;;background-color: #dddddd; float:right;width:100%;padding:10px;">
                        <div style="background-color:black;width:100%; padding: 5px;">
                            <center>
                                <p style="color:white;padding-top:10px;">Step 1</p>
                            </center>
                        </div>
                        <div style="background-color: #dddddd;">
                            <p>
                                <center>Product will be subjected to <br>quality check. </center>
                            </p>
                        </div>
                    </div>
                </td>
                <td style="width:33%; border: 5px solid white;">
                    <div style="height:30%;  ;background-color: #dddddd;float:right;width:100%;padding:10px;">
                        <div style="background-color:black;width:100%; padding: 5px;">
                            <center>
                                <p style="color:white;padding-top:10px;">Step 2</p>
                            </center>
                        </div>
                        <div style="background-color: #dddddd;">
                            <p>
                                <center>On passing the quality check, <br> refund will be initiated. </center>
                            </p>
                        </div>
                    </div>
                </td>
                <td style="width:33%; border: 5px solid white;">
                    <div style="height:30%;background-color: #dddddd;float:right;width:100%;padding:10px;">
                        <div style="background-color:black; width:100%; padding: 5px;">
                            <center>
                                <p style="color:white;padding-top:10px;">Step 3</p>
                            </center>
                        </div>
                        <div style="background-color: #dddddd;">
                            <p>
                                <center>Refund will be processed in <br> 7 business days. </center </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        {{template config_path="design/email/footer_template"}}