<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="abandoned_cart" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Abandoned Cart SMS</label>
            <tab>auraine_system_config</tab>
            <resource>Auraine_ExtendedReminder::module_config</resource>

            <group id="reminder_sms" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Reminder SMS</label>
                <field id="message" translate="label" type="textarea"
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMS Text</label>
                </field>
            </group>

        </section>
    </system>
</config>